# MongoDB
MONGODB_URI=mongodb://mongo:SbeICKUovVHaGGergylEnPniFzQmNvEg@hayabusa.proxy.rlwy.net:55851

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# API
API_PORT=3000

# Web
NEXT_PUBLIC_API_URL=https://debalesapi-production.up.railway.app

# Optional: override Ethereal SMTP (leave empty to auto-create)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
